/* Write your CSS here */
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.content {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portionA {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  width: 80vw;
  height: 30vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}
.container2 {
  display: flex;
  border: 2px solid green;
  width: 80vw;
  padding: 0px;
}
.container3 {
  display: flex;
  justify-content: space-between;
  height: 25vw;
  width: 80vw;
  border: 2px solid red;
}
.form {
  border: 1px solid gray;
  border-radius: 10px;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
h1 {
  font-size: 25px;
}
.inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
label {
  font-size: 12px;
  margin: 5px 0px;
}
.add {
  width: 50px;
  margin: 10px 0px;
  color: #ffffff;
  background-color: blue;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.container4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid grey;
  width: 50vw;
  border-radius: 10px;
}
.downcontent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 50vh;
  padding: 20px;
}
.unordered {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  border: 2px solid blue;
}
.listitems {
  display: flex;
  border: 1px solid gray;
  width: 40vw;
  justify-content: flex-start;
  background-image: linear-gradient(to top, grey, #ffffff);
}
.kala {
  padding: 0px 40px;
  border-radius: 5px;
}
